* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: arial;
}

/* Header */

header {
    width: 1200px;
    height: 70px;
    background-color: white;
}

.titolo {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    vertical-align: top;
    font-size: 35px;
    font-weight: bold;
}

img {
    margin-top: 10px;
    margin-left: 10px;
}

/* main */

.freccia{
    font-size: 10px;
    display: inline-block;
}

main {
    width: 1200px;
    height: 2000px;
}

.add-container {
    height: 30px;
    background-color: white;
    margin: 30px 150px 10px 150px;
}

.list-container {
    height: 500px;
    background-color: white;
    margin: 0px 150px 20px 150px;
}

.lists {
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 45px;
    padding-top: 35px;
}

.lists-texts{
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
}

.editorial {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #45abea;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.q1 {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #9c72e4;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.mobile {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #f29e33;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.recruiting {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #64c0a9;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.websites {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #d863a1;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.sales {
    height: 20px;
    width: 45px;
    font-size: 8px;
    color: white;
    background-color: #b3cb2f;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 8px;
    display: inline-block;
}

.verde {
    font-size: 8px;
    font-weight: 900;
    color: #7fcbb8;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 10px;
    vertical-align: middle;
    display: inline-block;
    border: 1.5px #7fcbb8 solid;
    border-radius: 50%;
}

.rosso {
    font-size: 8px;
    font-weight: 900;
    color: #ef736b;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 10px;
    vertical-align: middle;
    display: inline-block;
    border: 1.5px #ef736b solid;
    border-radius: 50%;
}